body
{
    max-width: 100%;
    margin:0px auto;
    padding:0px;
    background-color: rgb(234, 246, 247);
}
/* template */
.horizontal_ul
{
    padding: 0px;
}
.horizontal_ul div
{
    display: inline-block;
}
.horizontal_ul li
{
    display: inline-block;
}
.horizontal_ul li a
{
    text-decoration:none;
    color:black;
}
/*top*/
.top
{
    max-width:1280px;
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
}

.top_item
{
    width: 50%;
    height: auto;
}

.school_logo
{
    display: block;
    margin-left:0px;
    width: 70%;
    margin-top:13px;
    margin-bottom:13px;
    
}

.topline
{
    height: 14px;
    width: 1px;
    background:#003377;
}
.top_item_language
{
    text-align: end;
    margin-top:13px;
    margin-right: 10px;
}
.top_item_language ul{
    margin-bottom:12px;
    height: 30px;
}
.top_item_language ul li a
{
    font-family:Microsoft JhengHei;
    font-size: 14px;
    font-weight: bold;
    color: #003377;
}
.top_item_language ul li a:hover
{
    font-size: 18px;
    color: #000000;
}
.top_item_menu
{
    text-align: end;
}
.top_item_menu ul{
    margin-top: 0px;
    transition:margin 0.5s;
}

.top_item_menu ul li ul{
    position:absolute;
    width:100px;
    overflow:visible;
    clear:left;
    visibility:hidden;
    margin: 20px 0px 0px -20px;
}


.top_item_menu ul li a{
    display:block;
    float:left;
    font-family:Microsoft JhengHei;
    font-size: 20px;
    padding-right: 10px;
    font-weight: bold;
    color: #000000;
    height:30px;
    width: 100px;
}
.top_item_menu ul li ul li a{
    
    padding-top: 13px;
    padding-left: 10px;
    width: 120px;
    height: 40px;
    background: rgb(156, 243, 231);
    float :none;
    text-align: left;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    border-bottom:1px rgb(194, 194, 194) solid;
    font-size: 18px;
}

.list_line{
    margin: 0px 0px -5px 0px;
    width: 140px;
    height: 5px;
    background: rgb(90, 194, 204);
}


.top_item_menu li:hover ul {
    margin: 30px 0px 0px -20px;
    visibility:visible;
}
.top_item_menu li:hover a{
    color: #003377;
}
.top_item_menu li:hover ul li a{
    color: #000000;
}

.top_item_menu ul li ul li:hover a{
    background:rgb(107, 226, 210);
}

.top_item_menu ul li ul li{
    float :none;
}



.top_ul
{
    margin-bottom: 0px;
    margin-top:0px;
}
.top_line
{
    margin: 0px;
}

/* bottom */
.bottom
{
    margin: 0px;
    text-align: center;
    font-size: 15px;
    border-top: 1px black solid;
    background-color: rgb(219, 247, 250);

}
.bottom p 
{
    margin: 0px;
    line-height: 30px;
    
}