body
{
    max-width: 100%;
    margin:0px auto;
    padding:0px;
}
/* template */
.horizontal_ul
{
    padding: 0px;
}
.horizontal_ul div
{
    display: inline-block;
}
.horizontal_ul li
{
    display: inline-block;
}
.horizontal_ul li a
{
    text-decoration:none;
    color:black;
}
/*top*/
.top
{
    max-width:1280px;
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
}

.top_item
{
    width: 50%;
    height: auto;
}

.school_logo
{
    display: block;
    margin-left:0px;
    width: 70%;
    margin-top:13px;
    margin-bottom:13px;
    
}

.topline
{
    height: 14px;
    width: 1px;
    background:#003377;
}
.top_item_language
{
    text-align: end;
    margin-top:13px;
    margin-right: 10px;
}
.top_item_language ul{
    margin-bottom:12px;
    height: 30px;
}
.top_item_language ul li a
{
    font-family:Microsoft JhengHei;
    font-size: 14px;
    font-weight: bold;
    color: #003377;
}
.top_item_language ul li a:hover
{
    font-size: 18px;
    color: #000000;
}
.top_item_menu
{
    text-align: end;
}
.top_item_menu ul{
    margin-top: 0px;
    transition:margin 0.5s;
}

.top_item_menu ul li ul{
    position:absolute;
    width:100px;
    overflow:visible;
    clear:left;
    visibility:hidden;
    margin: 20px 0px 0px -20px;
}


.top_item_menu ul li a{
    display:block;
    float:left;
    font-family:Microsoft JhengHei;
    font-size: 20px;
    padding-right: 10px;
    font-weight: bold;
    color: #000000;
    height:30px;
    width: 100px;
}
.top_item_menu ul li ul li a{
    
    padding-top: 13px;
    padding-left: 10px;
    width: 120px;
    height: 40px;
    background: rgb(156, 243, 231);
    float :none;
    text-align: left;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    border-bottom:1px rgb(194, 194, 194) solid;
    font-size: 18px;
}

.list_line{
    margin: 0px 0px -5px 0px;
    width: 140px;
    height: 5px;
    background: rgb(90, 194, 204);
}


.top_item_menu li:hover ul {
    margin: 30px 0px 0px -20px;
    visibility:visible;
}
.top_item_menu li:hover a{
    color: #003377;
}
.top_item_menu li:hover ul li a{
    color: #000000;
}

.top_item_menu ul li ul li:hover a{
    background: rgb(107, 226, 210);
}

.top_item_menu ul li ul li{
    float :none;
}





.top_ul
{
    margin-bottom: 0px;
    margin-top:0px;
}
/* main_img */
.main_img
{
    width:1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 600px;
}
/* main_article */
.main
{
    max-width:1280px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_article
{
    display: flex;
    justify-content: space-between;
    margin:0px 0px;
}
.main_item
{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
/* main_article_left */
.main_left{
    width: 40%;
    padding: 0px 0px 0px 0px;

}
.main_left ul{
    float: left;
    width: 230px;
    height: 600px;
    padding-left: 0px;
    margin-top: 20px;
    

}
.main_left ul li{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    list-style-type:none;
    
    
}
.main_left ul li a img {
    width:90%;
    border-radius:10px;
    transition:all 0.5s;
}
.main_left ul li:hover a img{
    width:100%;
}
/* /* main_article_right */
.main_right
{
    width: 55%;
}
.main_right_content
{
    height: 500px;
    width: 97%;
    background-color:rgb(208, 240, 255);
    
}
.main_right_menu ul{
    background-color: #4fb6e9;
    height: 40px;
    width: 450px;
    
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.main_right_menu div li{
    margin-top: 5px;
    margin-left: 20px;
    float :none;
    font-size: 22px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    text-align: center;
    
}
.main_right_menu div:hover{
    background-color:  rgb(167, 226, 253);
}

.main_right_ul
{
    margin: 0px;
    width: 97%;
    background-color:rgb(181, 232, 255);
}

.main_right_ul div:hover
{
    background-color:rgb(136, 211, 247);
}

.main_right_menu div{
    background-color: rgb(167, 226, 253);
}
#div_allnew
{
    background-color: rgb(56, 187, 248);
    border-top-left-radius:10px;
}
#allnew
{
    
    display: table;
}

.main_right_content_table
{
    width: 100%;
    border-collapse:collapse;
    display: none;
    text-align: left;
    height: 500px;
}
.main_right_content_table th
{
    border-bottom: 2px rgb(134, 212, 248) solid;
    padding: 10px;
    
}
.main_right_content_table tr td
{
    border-bottom: 1px rgb(91, 196, 245) solid;
    font-size: 20px;
    padding: 10px;
}
.main_right_content_table_day
{
    width: 20%;
    
}
.main_right_content_table_title
{
    width: 70%;
}


/* bottom */
.bottom
{
    margin: 0px;
    text-align: center;
    font-size: 15px;
    
    border-top: 1px black solid;
    background-color: rgb(219, 247, 250);
}
.bottom p
{
    margin: 0px;
    line-height: 30px;
}