/* main_img */
.main_img
{
    width:1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 600px;
}
/* main_article */
.main
{
    max-width:1280px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}
.main_article
{
    display: flex;
    justify-content: space-between;
    margin:0px 0px;
    
    
}
.main_item
{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
.main_left
{
    width: 70%;
}
.main_left_content
{
    height: 620px;
    width: 1100px;
    background-color:rgb(208, 240, 255);
}
.main_left_content_table
{
    width: 100%;
    border-collapse:collapse;
    display: none;
    text-align: left;
    height: 620px;
    
}
#div_allnew
{
    background-color: rgb(56, 187, 248);
}
#allnew
{
    display: table;
}
.main_left_content_table tr td
{
    border-bottom: 1px rgb(91, 196, 245) solid;
    font-size: 25px;
}

.main_left_content_table th
{
    border-bottom: 2px rgb(134, 212, 248) solid;
    
}

.main_left_content_table_day
{
    width: 20%;
}
.main_left_content_table_title
{
    width: 70%;
}
.main_left_ul
{
    margin: 0px;
    width: 1100px;
    background-color:rgb(181, 232, 255);
}
.main_left_ul div
{
    width: 90px;
    height: 30px;
    font-size: 18px;
    padding-top: 2px;
    font-family:Microsoft JhengHei;
    padding-right: 25px; 
    font-weight: bold;
    text-align: center;
    background-color:  rgb(167, 226, 253);
}
.main_left_ul div:hover
{
    background-color:rgb(167, 226, 253);
}
.main_right
{
    text-align: end;
}
.main_right_ul
{
    list-style: none;
    margin: 0px;
    margin-top: 30px;
}
.main_right_ul li
{
    height: 155px;
    margin:0px;
    padding:0px;
}
/* bottom */
.bottom
{
    margin: 0px;
    text-align: center;
    font-size: 15px;
    
    border-top: 1px black solid;
    background-color: rgb(219, 247, 250);
}
.bottom p
{
    margin: 0px;
    line-height: 30px;
}