/* main_img */
.main_img
{
    width:1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 600px;
}
/* main_article */
.main
{
    max-width:1280px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_article
{
    display: flex;
    justify-content: space-between;
    margin:0px 0px;
}
.main_item
{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
/* main_article_left */
.main_left{
    width: 40%;
    padding: 0px 0px 0px 0px;

}
.main_left ul{
    float: left;
    width: 230px;
    height: 600px;
    padding-left: 0px;
    margin-top: 20px;
    

}
.main_left ul li{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    list-style-type:none;
    
    
}
.main_left ul li a img {
    width:90%;
    border-radius:10px;
    transition:all 0.5s;
}
.main_left ul li:hover a img{
    width:100%;
}
/* /* main_article_right */
.main_right
{
    width: 55%;
}
.main_right_content
{
    height: 500px;
    width: 97%;
    background-color:rgb(208, 240, 255);
    
}
.main_right_menu ul{
    background-color: #4fb6e9;
    height: 40px;
    width: 450px;
    
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    
}

.main_right_menu div li{
    margin-top: 5px;
    margin-left: 20px;
    float :none;
    font-size: 22px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    text-align: center;
    transition-duration: 0.4s;
}


.main_right_ul
{
    margin: 0px;
    width: 97%;
    background-color:rgb(181, 232, 255);
}

#div_allnew
{
    color: white;
    border-top-left-radius:10px;
}
#allnew
{
    
    display: table;
}

.main_right_content_table
{
    width: 100%;
    border-collapse:collapse;
    display: none;
    text-align: left;
    height: 500px;
}
.main_right_content_table th
{
    border-bottom: 2px rgb(134, 212, 248) solid;
    padding: 10px;
    font-family:Microsoft JhengHei;
    
}
.main_right_content_table tr td
{
    border-bottom: 1px rgb(91, 196, 245) solid;
    font-size: 20px;
    padding: 10px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}
.main_right_content_table_day
{
    width: 20%;
    
}
.main_right_content_table_title
{
    width: 70%;
}


/* bottom */
.bottom
{
    margin: 0px;
    text-align: center;
    font-size: 15px;
    
    border-top: 1px black solid;
    background-color: rgb(219, 247, 250);
}
.bottom p
{
    margin: 0px;
    line-height: 30px;
}